# venv
venv/
.venv/

# IDE
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

# big dirs (if exist)
data/
out/
state/
logs/

#special files
gen_skeletons_from_contract.py
verify_contract_coverage.py
